{% extends 'base.html' %}

{% block content %}
<h1>Our Pizzas</h1>

<!-- Image carousel displaying pizzas -->
 <!-- TODO: Add carousell what will list all of the pizzas with images.  It should display the name price and description
            There should also be a button that will add the pizza to the cart -->


  <!-- Navigation buttons -->
  <button class="carousel-control-prev" type="button" data-bs-target="#pizzaCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#pizzaCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>

{% endblock %}
